<div class='head'>$lang.get('statichtml.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/statichtml' class='selected'>$lang.get('a.statichtml')</a>
</div>

<table id='statichtml-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('file.name')</th>
			<th>$lang.get('file.size')</th>
			<th>$lang.get('file.updated')</th>
			<th>$lang.get('file.created')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td><a href="/admin/demo/detail?id=$f.id">$f.name</a></td>
		<td>$!f.size</td>
		<td>$!lang.format($f.updated, 'yyyy-MM-dd HH:mm:ss')</td>
		<td>$!lang.format($f.created, 'yyyy-MM-dd HH:mm:ss')</td>
		<td>
			<a href='javascript:;' onclick='_delete("$f.id", this)'>$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href="/admin/statichtml/create">$lang.get('a.create')</a>
</div>

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post("/admin/statichtml/delete", {id:id}, function(d){
			$(o).parent().parent().remove();
		})
	}
}
</script>
